body {
    background-image: url('media/bratmi.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    position: relative;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 90px;
    margin-right: 15px;
}

.navbar-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
}

.navbar-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item {
    margin: 0 1rem;
}

.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    color: #fff;
}

header.jumbotron {
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 2rem;
}

.gallery .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.gallery .card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.btn-buy {

    padding: 0.75rem 1.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 3rem;

}

.btn-buy:hover {
    background-color: #0056b3;
}